/*common stuff*/
html, body {
	height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

* {
	color: #191919;
}

body {
	background-image: url(../images/concrete-texture.png);
	background-repeat: repeat;
}

/*fonts*/
@font-face {
    font-family: 'adam-cg';
    src: url(../fonts/adam-cg.otf);
}

@font-face {
    font-family: 'averta';
    src: url(../fonts/averta.otf);
}

@font-face {
    font-family: 'helvetica';
    src: url(../fonts/helvetica.otf);
}

@font-face {
    font-family: 'rainbow-bridge';
    src: url(../fonts/rainbow-bridge.ttf);
}

/*navigation bar*/
nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 1.1em;
	font-family: 'helvetica';
}

nav > ul {
	width: 100%;
	display: flex;
	justify-content: center;
}

nav > ul > li {
	margin: 15px;
}

nav > ul > li > a {
	color: #000000;
	font-weight: bold;
	font-size: .9em;
}

/*main*/
div#main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

div#main > div {
	font-family: 'rainbow-bridge', sans-serif;
	color: 	#191919;
	border: 5px solid #191919;
	padding: 20px;
	width: 150px;
	height: 150px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;	
}

#festival-title {
	font-size: 5em;
}

#festival-year {
	font-family: 'adam-cg', sans-serif;
	font-size: 1.4em;
}

/*featured events*/
.section-title {
	text-align: center;
	font-family: 'neutraface', sans-serif;
	font-family: 'helvetica';
	font-size: 1.4em;
}

div#featured-events ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.featured-event {
	text-align: center;
  font-family: 'helvetica';
}

div#featured-events ul li {
	width: 45%;
}

p.event-description {
	font-size: .9em;
	font-family: 'helvetica';
}

/*contacts*/
#contact-details {
	display: flex;
	justify-content: space-around;
}

#contact-details > a {
	width: 15%;
}

#contact-details > a > img {
	width: 100%;
}

#contact-details > ul {
	font-size: .9em;
	font-family: 'helvetica';
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

footer {
	text-align: center;
	margin: 20px;
	font-size: .6em;
	font-family: 'helvetica';
}

