@media all and (min-width: 720px) {
	
	nav {
		font-size: 1.2em;
	}

	nav > ul > li {
		margin: 20px;
	}

	nav > ul > li > a, p.event-description, #contact-details > ul {
		font-size: 1em;
	}

	.section-title {
		font-size: 1.5em;
	}

	div#featured-events ul li {
		width: 40%;
	}
	
	#contact-details > a {
		width: 10%;
	}

	footer {
		font-size: .7em;
	}

}

@media all and (min-width: 1024px) {

	nav > ul > li {
		margin: 20px;
	}

	.section {
		padding: 0 20% 0 20%;
	}

}

@media all and (min-width: 1600px) {
	
	div#main {
		height: 50%;
	}

	.section {
		padding: 0 30% 0 30%;
	}

}